@model AMS.Model.Relotional.Writer
@{
    ViewData["Title"] = "Detaylar";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}
@if (ViewBag.AlertModel != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.AlertModel
    </div>
}
<form class="form-group" method="post" enctype="multipart/form-data">
    @Html.HiddenFor(x=>x.Id)
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Yazar Profil Bilgileri Düzenleme</h4>
                @*<p class="card-description"> Basic form elements </p>*@
                <form class="forms-sample">
                    <div class="form-group">
                        <label for="exampleInputName1">Ad</label>
                        @Html.TextBoxFor(x=>x.WriterName, new{@class="form-control"})
                        @Html.ValidationMessageFor(x=>x.WriterName)
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Email adres</label>
                        @Html.TextBoxFor(x=>x.WriterMail, new{@class="form-control"})
                        @Html.ValidationMessageFor(x=>x.WriterMail)

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4">Parola</label>
                        @Html.PasswordFor(x=>x.WriterPassword,new {@class="form-control"})
                        @Html.ValidationMessageFor(x=>x.WriterPassword)
                    </div>
                    <div class="form-group">
                        @* <label>Görsel ekleme</label>
                            <input type="file" asp-for="Upload" class="file-upload-default">
                            <div class="input-group col-xs-12">
                            <input type="text" class="form-control file-upload-info" disabled placeholder="Görsel Yükle">
                            <span class="input-group-append">
                            <button class="file-upload-browse btn btn-gradient-primary" type="button">Yükle</button>
                            </span>
                            </div>*@
                        <label class="form-label">Yüklenecek dosyayı gir</label>
                        <input type="file" asp-for="Upload" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="exampleTextarea1">Hakkımda</label>
                        @Html.TextAreaFor(x=>x.WriterAbout,15,3,new {@class="form-control"})
                        @Html.ValidationMessageFor(x=>x.WriterAbout)
                    </div>
                    <button type="submit" class="btn btn-gradient-primary mr-2">Kaydet</button>
                    <button class="btn btn-light">Vazgeç</button>
                </form>
            </div>
        </div>
    </div>

</form>

@*<script src="~/writer/assets/js/file-upload.js"></script>*@
