@model AMS.Model.Relotional.Category
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<form asp-controller="AddCategory" asp-action="Category" method="post">
    @Html.Label("Başlık")
    @Html.TextBoxFor(x=>x.CategoryName, new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.CategoryName)
    <br />
    @Html.Label("Kategori Açıklaması")
    @Html.TextAreaFor(x=>x.CategoryDescription,15,3, new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.CategoryDescription)
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>