@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<AMS.Model.Relotional.Category>
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered">
<tr> 
    <td>
        Id
    </td>
    <td>Ad</td>
    <td>
        Aktif
    </td>
    <td>Pasif</td>
    <td>Düzenle</td>
</tr>
@foreach (var item in Model)
{
    <tr>
        <td>@item.Id</td>
        <td>@item.CategoryName</td>
        <td><a class="btn btn-danger" style="color:white;" asp-controller="Category" asp-action="Index" asp-route-Id="@item.Id">Aktif</a></td>
        <td><a class="btn btn-success" style="color:white;" asp-controller="Category" asp-action="Index" asp-route-Id="@item.Id">Pasif</a></td>
        <td><a class="btn btn-primary" style="color:white;" asp-controller="Category" asp-action="Index" asp-route-Id="@item.Id">Düzenle</a></td>
    </tr>
}
</table>
<a href="/Admin/Category/AddCategory" class="btn btn-primary">Yeni Kategori Oluştur</a>
<br />
<br />
@Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index", new {page}))