@model AMS.Model.Relotional.NewMessage
@{
    ViewData["Title"] = "Detaylar";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

@*@Html.HiddenFor(x=>x.WriterId)*@
@*@Html.HiddenFor(x=>x.BlogCreateDate)*@
@Html.Label("Gönderen Kullanıcı")
@Html.TextBoxFor(x=>x.SenderUser.WriterName, new {@class="form-control"})
<br />

@Html.Label("Başlık")
@Html.TextBoxFor(x=>x.Subject, new {@class="form-control"})
<br />
@Html.Label("İçerik")
@Html.TextAreaFor(x=>x.Details,20,3, new {@class="form-control"})
<br />

<a class="btn btn-success" asp-controller="Message" asp-action="Inbox">Geri Dön</a>
